@use '../../../../constants' as c;
.container{
    margin: auto;
    margin-top: 32px;
    width: 90%;
    height: 35px;
    border: solid 0.5px c.$border-color;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px 2px c.$shadow-color;
    svg{
        color: c.$accent-color;
        width: 25px;
        height: 25px;
    }
    span{
        color: c.$text-color;
        margin-left: 16px;
    }
}