@use '../../../constants' as c;
.filter-bar {
    margin-top: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    label {
        font-size: 0.9rem;
        font-weight: 500;
        color: c.$text-color;
    }
    select {
        padding: 0.4rem 0.8rem;
        border-radius: 8px;
        border: 1px solid #ccc;
        background: c.$background-color;
        font-size: 0.9rem;
        font-weight: 500;
        color: #333;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            border-color: c.$primary-color;
        }

        &:focus {
            outline: none;
            border-color: c.$primary-color;
            box-shadow: 0 0 0 3px rgba(108, 99, 255, 0.2);
        }
    }
}