@use '../../../../constants' as c;
.navbar-mobile{
    width: 100%;
    height: 80px;
    background-color: c.$primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .container-logo{
        position: relative;
        width: 20%;
        height: 50%;
    }
    
    .header-actions{
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar-mobile{
        .container-logo{
            width: 20%;
            height: 75%;
        }
    }
}
