@use '../../../../../constants' as c;
.container-cart{
    position: relative;
    grid-column: 3 / span 1;
    grid-row: 1;
    .count{
        position: absolute;
        top: -10px;
        right: -8px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: c.$accent-color;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .total{
        margin: 0;
        position: absolute;
        padding: 3px;
        bottom: -22px;
        left: 50%;
        transform: translate(-50%);
        height: 20px;
        font-size: 0.6rem;
        border-radius: 50%;
        background-color: rgba(252, 252, 252, 0.315);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (width >= 1024){
    .container-cart{
        width: 50%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        .count{
            top: 0;
            right: 20px;
        }
        .total{
            bottom: -10px;
        }
    }
}