@use '../../../../constants' as c;
.image-gallery{
    margin-top: 40px;
    .image-gallery-content{
        display: flex;
        justify-content: center;
        align-items: center;
        .image-gallery-slide-wrapper{
            width: 95%;
        }
    }
}


.left, .right{
    position: absolute;
    width: 45px;
    height: 45px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border-radius: 50%;
    background-color: c.$primary-color-opacity;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.left{
    left: 0px;
}
.right{
    right: 0px;
}

.image-gallery-bullets-container{
    .image-gallery-bullet{
        width: 15px;
        height: 15px;
        background-color: c.$primary-color-opacity;
        transition: all 0.3s ease-in-out;
    }
    .image-gallery-bullet.active{
        width: 20px;
        height: 20px;
        transition: all 0.3s ease-in-out;
        background-color: c.$primary-color;
    }
}

.image-counter {
    position: absolute;
    top: -24px;
    right: 0;
    color: c.$text-color;
    padding: 6px 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    span{
        margin: 0 4px;
    }
    .position{
        font-size: 1rem;
        font-weight: 600;
    }
    .count-images{
        font-size: 1rem;
        font-weight: 500;
        color: c.$text-gray-color;
    }
}
