$primary-color: #2F80ED;      // Azul moderno
$primary-color-opacity: #2f81edaf;
$primary-color-hover: #1C6DD0;

$secondary-color: #00C853;    // Verde profesional

$accent-color: #FF6F61;       // Coral para botones importantes
$accent-color-hover: #FF7B6E;

$text-color: #212121;         // Texto principal

$background-color: #F4F6F8;   // Fondo claro y moderno

$border-color: #E0E0E0;       // Bordes suaves

$shadow-color: rgba(0, 0, 0, 0.15); // Sombra neutra y elegante

$text-gray-color: rgb(102, 102, 102);;