@use '../../../../../constants' as c;
.filters-btn{
    position: relative;
    margin: auto;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    button{
        width: 50%;
        height: 100%;
        border: none;
        background-color: white;
        border: 0.2px solid c.$border-color;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color: c.$text-gray-color;
        svg{
            width: 24px;
            height: 24px;
            margin-right: 3px;
        }
    }
}

@media screen and (width >= 1024) {
    .filters-btn{
        position: absolute;
        width: 32%;
        top: 8px;
        left: -32%;
        height: auto;
        overflow: visible;
        z-index: 999;
    }
}