@use '../../../constants' as c;
.product-card {
    position: relative;
    margin: 0 6px;
    width: 100%;
    height: 100%;
    max-width: 200px;
    text-decoration: none;

    &__favorite{
        position: absolute;
        top: 0;
        left: 10;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;
    }
    .favorite{
        color:  #e53935;
    }
    
    &__container-img{
        position: relative;
        margin: 0 auto;
        margin-top: 10px;
        width: 90%;
        height: 200px;

        &__image{
            object-fit: cover;
        }
    }

    &__name{
        margin-top: 8px;
        margin-left: 12px;
        font-size: 1rem;
        color: c.$text-color;
    }

    &__price{
        margin-left: 12px;
        font-size: 1.5rem;
        color: c.$text-color;
        font-weight: 600;
    }
}
