@media screen and (width >= 1024) {
    .detail-grid{
        margin: 32px auto;
        width: 85%;
        display: grid;
        grid-template-columns: 1fr 0.6fr;
        grid-template-rows: 0.9fr 1fr;
        background-color: white;
    }
}