@use '../../../../constants' as c;

.categories {
  margin-top: 16px;
  padding: 1rem 0;

  .categories__scroll {
    display: flex;
    gap: 1.2rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 0 1rem;
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE/Edge

    &::-webkit-scrollbar {
      display: none; // Chrome/Safari
    }
  }

  .categories__card {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 80px;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-3px);
    }

    .circle{
      margin-left: 8px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #2f81edcb;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      .categories__circle {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
  
        .categories__image {
          object-fit: cover;
          width: 60%;
          height: 60%;
          border-radius: 50%;
        }
      }
    }

    .categories__label {
      margin-top: 0.5rem;
      font-size: 0.85rem;
      color: c.$text-color;
      text-transform: capitalize;
      white-space: nowrap;
    }
  }
}
