@use '../../../../../../../constants' as c;
.options-off{
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
}
.options-on{
    transform: translateX(0%);
    transition: all 0.3s ease-in-out;
}
.blur{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.288);
    backdrop-filter: blur(4px);
    z-index: 999;
    .container-user{
        width: 60%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: c.$primary-color;
        .avatar{
            margin-left: 16px;
            width: 60px;
            height: 60px;
            border: none;
            border-radius: 50%;
            background-color: c.$background-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img{
            object-fit: cover;
            }
            .initial{
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
            margin: 0;
            }
        }
        .container-name{
            margin-left: 16px;
            display: flex;
            flex-direction: column;
            p{
                font-weight: 600;
                margin: 0;
            }
            a{
                color: c.$text-color;
                font-weight: bold;
            }
        }
    }
    .container-options{
        background-color: c.$primary-color;
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
        div{
            width: 100%;
            padding: 16px;
            a{
                text-decoration: none;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-weight: 600;
                color: c.$text-color;
                p{
                    font-size: 1.3rem;
                    margin: 0;
                    margin-left: 8px;
                }
                svg{
                    width: 25px;
                    height: 25px;
                    font-weight: 600;
                }
            }
        }
    }
}