@use '../../../../../../constants' as c;

.container-question{
    width: 100%;
    margin-top: 32px;
    border-radius: 3px;
    &__title{
        font-size: 1.3rem;
        font-weight: 400;
        color: c.$text-color;
    }
    &__form-wrapper{
        width: 100%;
        &__form{
            width: 100%;
            &__textarea{
                width: 100%;
                border: none;
                height: 70px;
                padding: 8px;
            }
        }
        &__button{
            width: 100%;
            border: none;
            background-color: c.$primary-color;
            border: 0.2px solid c.$border-color;
            color: wheat;
            height: 35px;
            border-radius: 6px;
        }
    }

}
@media screen and (width >= 1024) {
    .container-question{
        grid-column: 2 / span 1;
        grid-row: 2 / span 2;
        padding: 0px 16px;
        margin-top: 0px;
    }
}