@use '../../../../../../constants' as c;
.container-answer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &__item{
        margin-top: 16px;
        width: 100%;
        padding: 16px;
        padding-bottom: 0;
        background-color: c.$background-color;
        border-radius: 6px;
        border: 0.2px solid c.$border-color;
        h5{
            font-size: 1.1rem;
            font-weight: 600;
        }
        p{
            margin-top: 8px;
            margin-bottom: 8px;
            color: rgb(102, 102, 102);
            font-size: 0.9rem;
        }
    }
}

@media screen and (width >= 1024) {
    .container-answer{
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
        padding: 0px 16px;
    }
}