.container-item{
    margin: 16px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p:nth-child(2){
        width: 40%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        letter-spacing: 1px;
    }
    p:nth-child(4){
        width: 15%;
        text-align: end;
    }
}