@use '../../../../../constants' as c;
.container-search{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / span 1;
    grid-row: 1;
    div{
        position: relative;
        width: 90%;
        height: 30px;
        input{
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 6px;
            padding-left: 16px;
            outline: none;
        }
        .icon{
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0;
            right: 0;
            color: c.$text-color;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            background-color: rgb(241, 241, 241);
        }
        span{
            display: none;
        }
    }
    div:nth-child(2){
        position: absolute;
        width: 90%;
        height: auto;
        z-index: 9999;
        top: 55px;
        border-radius: 6px;
        overflow: hidden;
        .item{
            padding: 4px;
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            background-color: c.$background-color;
            border-bottom: 0.5px solid c.$border-color;
            .img{
                width: 42px;
                height: 42px;
            }
            p{
                margin-left: 8px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

@media screen and (width >= 1024){
    .container-search{
        width: 100%;
        div{
            width: 70%;
            height: 80%;
            input{
                width: 100%;
                height: 100%;
            }
            .icon{
                width: 40px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                color: c.$text-gray-color
            }
            span{
                position: absolute;
                top: 50%;
                right: 48px;
                transform: translateY(-50%);
                display: block;
                height: 50%;
                width: 1px;
                background-color: rgba(128, 128, 128, 0.466);
            }
        }
    }
}