.container-options{
    margin-top: 8px;
    width: 100%;
    height: 32px;
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    a{
        margin: 0 16px;
        font-size: .9rem;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 1.5px;
    }
}